<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sportzzz</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <style>
    .sports-list {
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }

    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
  </style>
</head>

<body>
  <%- include("./partials/navbar.ejs", {username: username}) %>

  <section class="container py-5">
    <div class="text-center">
      <img src="/assets/logo.png" alt="Sportzzz Logo" width="200" height="200" class="d-inline-block align-top" />
      <h1>Welcome to Sportzzz, <%= username %>
      </h1>
      <p class="lead">The following sports are available, please select one:</p>
    </div>

    <ul class="list-unstyled sports-list">
      <% for (let i=0; i < sports.length; i++) { %>
      <li>
        <a href="/sports/<%= sports[i].id %>" class="btn btn-outline-primary">
          <%= sports[i].name %>
        </a>
      </li>
      <% } %>
    </ul>

    <% if (isAdmin) { %>
    <div class="d-flex justify-content-center mt-5 gap-2">
      <a href="/sports/new" type="button" class="btn btn-primary">
        Create a new sport
      </a>
      <a href="/reports" type="button" class="btn btn-info">
        View reports
      </a>
    </div>
    <% } %>

    <div class="mt-5">
      <p class="lead">Here are your upcomming sessions:</p>
      <% if (upcommingSessions.length> 0) { %>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <%- include("./partials/session-cards.ejs", {sessions: upcommingSessions}) %>
      </div>
      <% } else { %>
      <div class="alert alert-info d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>No upcomming sessions !</div>
      </div>
      <% } %>
    </div>

  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>