<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <title><%= name %> | Sportzzz</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <style>
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
  </style>

</head>

<body>
  <%- include("../partials/navbar.ejs", {username: username}) %>
  <div class="container py-4">
    <h1><%= name %></h1>

    <% if (isAdmin) { %>
    <div class="my-3">
      <a href="/sports/<%= id %>/edit" class="btn btn-primary me-2">Edit Sport</a>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete Sport
      </button>
    </div>
    <% } %>

    <div class="my-4">
      <a href="/sports/<%= id %>/sessions/new" class="btn btn-primary me-2">Create a new session</a>
    </div>

    <h2>Upcomming Sessions</h2>

    <% if (upcommingSessions.length > 0) { %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <%- include("../partials/session-cards.ejs", {sessions: upcommingSessions}) %>
    </div>
    <% } else { %>
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <div>No upcomming sessions found.</div>
    </div>
    <% } %>

    <h2 class="mt-5">Previous Sessions</h2>

    <% if (pastSessions.length > 0) { %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <%- include("../partials/session-cards.ejs", {sessions: pastSessions}) %>
    </div>
    <% } else { %>
    <div class="alert alert-info d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <div>No previous sessions found.</div>
    </div>
    <% } %>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this sport?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" onclick="deleteSport()">Yes, I confirm</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script>
    const csrfToken = document.querySelector(
      'meta[name="csrf-token"]'
    ).content;

    function deleteSport() {
      const sportId = window.location.pathname.split("/")[2];
      fetch(`/sports/${sportId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: csrfToken
          }),
        })
        .then((response) => response.json())
        .then((data) => {
          window.location.href = `/home`;
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  </script>
</body>

</html>