<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Sports Scheduler | Delete Session <%= sessionId %></title>
    <script>
      const csrfToken = document.querySelector(
        'meta[name="csrf-token"]'
      ).content;

      function deleteSession() {
        const sessionId = window.location.pathname.split("/")[2];
        fetch(`/sessions/${sessionId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ _csrf: csrfToken }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            window.location.href = `/sports`;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </head>
  <body>
    <h1>
      Are you sure you want to delete <%= sportName %> Session <%= sessionId %>?
    </h1>
    <button onclick="deleteSession()">Yes, I confirm</button>
    <a href="/sessions/<%= sessionId %>">Cancel</a>
  </body>
</html>
